{% if content_for_header contains 'front-icart.min.js' or content_for_header contains 'front-icart.js' %}
{% assign icart_placeholder_png = "https://icart.identixweb.com/icart/assets/img/placeholder.png" %}
{% unless content_for_layout contains 'icartCommonScriptJs' %}
<script type="text/javascript" id="icartCommonScriptJs">
  var icartProductObj = {};
  var icartNodeCallToken = eval({{ shop.metafields.icartCallToken | json }});
  var icart_cart_arr = {{ cart | json }};
  var icartScid = 'YjNiYzEyMDc3N2E3YzQ5YzhhNjViMTFjYmNmZjQ3ZTEuZWI2M2M1OWQ1ZmUyZjM0ZGU0ZWFhZmMzZTdmNmNjMzE=';
  var icartCurrencyWihoutFormat = "{{ shop.money_format | escape }}";
  var [cart_prod_coll_id_arr, cart_prod_id_arr, cart_prod_wise_coll_id_arr, cart_prod_wise_tag_arr, icartLineItemData] = [[], [], [], [], {}];
  {%- for item in cart.items -%}
    icartLineItemData[{{item.id}}] = {{item.product | json}} {% if forloop.index != forloop.length %} , {% endif %}
    cart_prod_id_arr.push('{{ item.product.id }}');
  	cart_prod_wise_tag_arr[{{ forloop.index | minus: 1 }}] = {{ item.product.tags | json }};
  	var icartCollectionIds = [];
  	{% for collection in item.product.collections %}
  	  icartCollectionIds.push('{{ collection.id }}');
      cart_prod_coll_id_arr.push('{{ collection.id }}');
  	{% endfor %}
  	icartCollectionIds.length && cart_prod_wise_coll_id_arr.push(icartCollectionIds);
  {%- endfor -%}
</script>
{% endunless  %}
{% assign icart_page_type = "1" %}
{% unless icart_page_type != '1' and request.page_type == "cart" %}
<script type="text/javascript" async="false" src="https://icart.identixweb.com/icart/react_build/icart.bundle.js"></script>

<div class="icart icart-datepicker icart-slipper"></div>
<link rel="stylesheet" id="icartMinCss" type="text/css" href="https://icart.identixweb.com/icart/assets/css/icart_fronted.min.css" media="all">
{% endunless %}
{% endif %}